.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
}

.headerButton button:last-child {
  width: 150px;
  border-radius: 20px;
  color: #e05c4b;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.headerButton button:last-child:hover {
  color: #da8638;
  border: 1px solid rgb(226, 175, 64);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
  width: 100%;
  padding: 20px; /* Add padding for spacing */
  overflow-y: auto; /* You can adjust this property based on your design */
}

.sectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  order: 1;
  font-size: 17px;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 20px 0; /* Add margin for spacing between sections */
  cursor: pointer;
}

.skillsContent img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  transition: transform 0.2s; /* Add a smooth transition for the zoom effect */
}

.skillsContent img:hover {
  transform: scale(1.2); /* Zoom in on hover (adjust the scale factor as needed) */
}

.skillsContent p {
  font-size: 15px;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sectionProject {
  display: flex;
  flex-direction: column;
}

.projectContainer {
  display: flex;
}

.projectContainer img {
  width: 500px;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
}

.projectContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

.projectContent ul {
  margin: 0;
}

.projectContent ul li {
  font-size: 15px;
}

.projectContent h2 {
  margin-bottom: 0;
  transition: 0.2s ease;
  color: white;
}

.projectContent h2:hover {
  cursor: pointer;
  color: #96a9b8;
}

.projectContent img:hover {
  cursor: pointer;
}

.hiremeContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headerButton button {
  background-color: transparent;
  color: #ffffff;
  letter-spacing: 2px; /* You can adjust the value to your preference */
  border: none;
  margin: 10px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s ease;
}

.headerButton button:hover {
  color: rgb(48, 160, 252);
}

.imageContainer {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  order: 2;
  width: 500px;
  font-size: 15px;
}

.imageContainer img {
  width: 400px;
  border-radius: 50%;
  border: 2px solid rgb(226, 175, 64);
}

.footer {
  position: fixed; /* Set the position to fixed */
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0; /* Place the footer at the bottom of the viewport */
  height: 50px;
  width: 100%;
  background-color: #4e6170;
  border-top: 2px solid rgb(158, 158, 158);
}

/* CSS for social links */
.socialLinks {
  display: flex; /* Display links horizontally */
  align-items: center; /* Align items vertically in the center */
}

.socialLinks a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  font-size: 34px;
  transition: color 0.3s; /* Apply transition to all links */
}

.socialLinks a i {
  transition: color 0.3s; /* Add a color transition on hover */
}

.socialLinks a:hover {
  color: #00a6ff; /* Change color on hover (LinkedIn) */
}

.socialLinks a:last-child:hover {
  color: #ffffff; /* Change color on hover (GitHub) for the last link */
}

/* Define column sizes for different screen widths */

@media screen and (max-width: 576px) {
  .sectionContent {
    flex-direction: column;
  }

  .imageContainer {
    width: 300px;
    height: 300px;
    order: 1;
  }

  .imageContainer img {
    width: 200px;
  }

  .aboutMe {
    order: 2;
  }

  .projectContainer {
    flex-direction: column;
  }

  .projectContainer img {
    display: none;
  }

  .skillsContent {
    width: 150px;
  }

  .skillsContent img {
    width: 100px;
    height: 100px;
  }

  .footer {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sectionContent {
    flex-direction: column;
    text-align: center;
  }

  .imageContainer {
    width: 400px;
    height: 400px;
    margin-left: 5%;
    order: 1;
  }

  .imageContainer img {
    width: 300px;
  }

  .aboutMe {
    order: 2;
  }

  .projectContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .sectionContent {
    flex-direction: column;
  }

  .aboutMe {
    order: 2;
  }

  .imageContainer {
    order: 1;
    margin-left: 5%;
  }

  .projectContainer {
    flex-direction: column;
  }
}

/* You can add more media queries as needed for larger screens */

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .projectContainer {
    flex-direction: column;
  }
}

/* Additional responsive classes for other screen sizes can be added as needed */
