html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-image: linear-gradient(to left, #858483 0%, #304352 100%);
  margin: 0;
  font-family: Helvetica;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: 2px solid rgb(158, 158, 158);
  margin-bottom: 100px;
}

a.button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  color: #e05c4b;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: 0.2s ease;
}

a.button:hover {
  cursor: pointer;
  color: #da8638;
  border: 1px solid rgb(226, 175, 64);
}
